@import "../../colors.css";

/* MODAL */
.root-modal {
  margin-left: 5%;
  margin-right: 5%;
  height: 97vh;
  width: 90%;
  margin-top: 2vh;
  background-color: var(--white);
  position: fixed;
  top: 0;
  z-index: 2;
  border-radius: 10px;
}

.root-modal hr {
  border-top: 1px solid rgb(0 0 0 / 28%);
  width: 100%;
}

@media only screen and (min-width: 576px) {
  .root-modal {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media only screen and (min-width: 768px) {
  .root-modal {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }
}

@media only screen and (min-width: 1200px) {
  .root-modal {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
  }
}

@media only screen and (min-height: 720px) {
  .root-modal {
    height: 85vh;
    margin-top: 8vh;
    max-height: 650px;
  }
}

/* HEADER */
.header {
  display: inline-flex;
  margin-top: 1rem;
  width: 100%;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: flex-start;
}

.header--texts {
  display: inline-flex;
  align-items: baseline;
}

.header-texts--name {
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.header--texts .header-texts--name {
  font-weight: 700;
  width: auto;
  white-space: nowrap;
}

.header-texts--compare {
  background-color: var(--gray);
  width: 100%;
  color: var(--white);
  padding: 0.2rem;
  margin-left: 1rem;
  border-radius: 5px;
  font-size: 0.8rem;
  border: none;
}

.header-texts--compare:hover {
  background-color: rgb(92, 92, 92);
}

.header-texts--compare:focus,
.header-texts--compare:active {
  outline: none;
}

.header--close {
  border: none;
  color: var(--gray);
  font-weight: 900;
  font-size: 1.2rem;
  background: none;
}
/* BODY */
.body {
  width: 100%;
}

.body hr {
  margin-top: 0rem;
  margin-bottom: 1rem;
  width: 80%;
}

.body-description {
  margin-right: 1.7rem;
}

.body-title {
  font-weight: 700;
  margin-bottom: 0.2rem;
}

/* TRICK: this replaces the width: max-content */
.body-text-container--item-list {
  width: auto;
  white-space: nowrap;
}

.body-text-container {
  padding-right: 2rem !important;
}

.body-list-items {
  flex-wrap: nowrap !important;
}

.body-text-container--item {
  flex-grow: 0;
  padding-left: 0px !important;
  padding-right: 0 !important;
}

.body-comparing--img {
  display: inline-flex;
  text-align: center;
  width: 100%;
}

.body-comparing-texts--container {
  margin: 0 2rem;
}

.body-comparing--description {
  display: flex;
}

.body-comparing--description ul:first-child {
  padding-left: 1rem;
}

.body-comparing--description p {
  text-align: center;
  margin-bottom: 0.5rem;
  font-size: 0.9em;
}

.body-comparing-list {
  padding-left: 0 !important;
}

.body-comparing--description ul {
  list-style: none;
}

.body-comparing-list--item {
  text-align: center;
}

.body-img {
  width: 100%;
  margin-left: 0.8rem;
}

/* FOOTER */

.footer {
  width: 100%;
}

.footer-title {
  font-weight: 700;
  text-align: center;
}

.row-footer {
  justify-content: center;
}

.stats-chart {
  position: absolute !important;
  bottom: 0;
}
