@import "../../colors.css";

/* MODAL */
.root-modal {
  margin-left: 5%;
  margin-right: 5%;
  height: 97vh;
  width: 90%;
  margin-top: 2vh;
  background-color: var(--white);
  position: fixed;
  top: 0;
  z-index: 2;
  border-radius: 10px;
}

.root-modal hr {
  border-top: 1px solid rgb(0 0 0 / 28%);
  width: 100%;
}

@media only screen and (min-width: 576px) {
  .root-modal {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media only screen and (min-width: 768px) {
  .root-modal {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }
}

@media only screen and (min-width: 1200px) {
  .root-modal {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
  }
}

@media only screen and (min-height: 720px) {
  .root-modal {
    height: 85vh;
    margin-top: 8vh;
    max-height: 650px;
  }
}
