.banner {
  height: 90vh;
  width: 100%;
  background-image: url("../../resources/banner.jpg");
  background-origin: border-box;
  background-size: cover;
  background-position: center;
}

.title {
  color: white;
  text-align: center;
  margin: auto;
  padding-top: 50vh;
}
